
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    position: relative;
}

#container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

#DVDHolder{
    position: absolute;
    left: 100px;
    top: 200px;
    width: 300px;
    height: 200px;
    background-color: pink;
}

#DVDHolder img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}